* {
    color: #111;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: gray;
    text-decoration: none;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
  }
  
  header, article, img {
    background-color: #b8afaf;
    border-left: 0.5rem solid #112;
    border-right: 0.5rem solid #112;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 2rem 1rem;
    width: 75%;
    max-width: 25rem;
  }
  
  html {
    background-color: rgb(151, 151, 156);
    background-size: cover;
    color: #111;
    font: 16px sans-serif;
  }
  
  img {
    aspect-ratio: auto 954 / 1402;
    display: block;
    padding: 0;
    width: 100%;
    max-width: 25rem;
  }
  
  article {
    flex-grow: 1;
  }
  
  nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }
  
  nav li {
    display: block;
    flex: 1;
    padding-bottom: 0.5rem;
  }
  
  nav a {
    border: 1px solid #222;
    border-radius: 5px;
    display: grid;
    place-content: center;
    min-height: 2rem;
    padding: 0.25rem 0;
    text-align: center;
    width: 5rem;
  }
  
  a:active {
    color: rgb(230, 144, 88);
  }
  
  a:hover {
    color: rgb#9c551a;
    ;
  }
  
  nav a:hover {
    background-color:rgb(233, 190, 112);
  }
  
  p + p {
    margin-top: 1rem;
  }
  